:root {
    --main-color: #A0AECD;
    --text-color: #000000;
    --secondary-color: #778298;
}

* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    overflow: hidden;
    transition: all 1.5s;
}

/* nav */
nav {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.nav-container {
    height: 60px;
    width: 90vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 30px;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

.logo:hover {
    color: var(--secondary-color);
}

.nav-container ul {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.nav-container ul li {
    list-style-type: none;
    font-size: 18px;
    padding: 5px;
    animation: all 1s;
    cursor: pointer;
}

.nav-container ul li:hover {
    color: var(--secondary-color);
}

#slide {
    height: 100vh;
    width: 400vw;
    display: flex;
    transform: translateX(0);
    animation: 4s;
}

/* home  */
.hero {
    height: 100vh;
    width :100vw;
    display: flex;
}

.hero-image {
    width: 45%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero-image img {
    height: 580px;
    width: 300px;
    object-fit: cover;
    z-index: -1;
}

.hero-text {
    width: 55%;
    height: 100vh;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.hero-text div {
    height: 70%;
    width: 100%;
}

.hero-h1 {
    position: absolute;
    font-size: 100px;
    transform: translate(-60px, 30px);
    z-index: -1;
}

.hero-p {
    height: 100%;
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-p h1 {
    font-size: 25px;
}

.hero-p p {
    font-size: 25px;
}

/* about */
.about {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.about-text {
    height: 100vh;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about-wrapper {
    height: 580px;
    width: 90%;
}

.about-text-h1 h1 {
    font-size: 60px;
    margin-bottom: 80px;
}

.about-text-p {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.about-wrapper-p {
    width: 80%;
}

.about-wrapper-p p {
    font-size: 25px;
    margin-bottom: 5px;
    text-align: justify;
}

.about-img {
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-wrapper-img {
    display: flex;
    align-items: center;
}

/* memories */
.memories-text {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memories-wrapper {
    width: 450px;
}

.memories-wrapper h3 {
    text-align: center;
    font-size: 30px;
}

.memories-wrapper p {
    margin-top: 20px;
    text-align: justify;
    font-size: 25px;
}

#answer {
    display: none;
}

#interactive {
    font-size: 25px;
    cursor: pointer;
}

#after {
    width: 100vw;
    display: none;
    margin-top: 60px;
}

.memo-row {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.d {
    align-items: flex-end;
}

.memo-col img {
    width: 320px;
}

.memo-col p {
    margin: 0;
    font-size: 20px;
    text-align: right;
}

/* contact */
.contact {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.contact-image {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-image img {
    height: 580px;
}

.contact-text {
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
}

.contact-text-wrapper {
    height: 70vh;
}

.contact h1 {
    font-size: 60px;
}

.contact-p-wrapper {
    margin-top: 20px;
}

.contact p {
    font-size: 20px;
}

.contact h3 {
    margin-top: 30px;
}

form {
    margin-top: 70px;
}

[type=submit] {
    font-size: 20px;
    border: none;
    background-color: #A0AECD;
	cursor: pointer;
}

/* shape */
.triangle-down {
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 200px solid var(--secondary-color);
    position: absolute;
    transform: translate(150px, 100px);
    z-index: -100;
}

.triangle-up {
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid var(--secondary-color);
    position: absolute;
    transform: translate(180px, 250px);
}

.rectangle {
    height: 300px;
    width: 40px;
    background-color: var(--secondary-color);
    position: absolute;
    z-index: -1;
    transform: translateX(30px);
}

.rectangle2 {
    height: 10px;
    width: 230px;
    background-color: var(--secondary-color);
    position: absolute;
}

.container {
    opacity: 0;
    transition: all 1.5s;
}

/* js */
#toggler {
    display: none;
}

#toggler:checked ~ .container {
    opacity: 1;
}

#slide {
    transition: all 1s;
}

[type=radio] {
    display: none;
}

#home:checked ~ #slide {
    transform: translateX(0);
}

#about:checked ~ #slide {
    transform: translateX(-100vw);
}

#memories:checked ~ #slide {
    transform: translateX(-200vw);
}

#contact:checked ~ #slide {
    transform: translateX(-300vw);
}

/* Blom beres, kapan" */
/* @media screen and (max-width: 764px) {
    .hero-p p {
        font-size: 20px;
    }

    .hero-image {
        width: 35%;
    }

    .hero-image img {
        width: 180px;
    }

    .about-text-h1 h1 {
        margin-bottom: 78px;
    }

    .about-text-p {
        width: 90%;
    }

    .about-wrapper-p p {
        font-size: 20px;
    }

    .rectangle {
        transform: translateX(0);
    }

    .about-wrapper-img {
        height: 70%;
    }

    .about-wrapper-img img {
        height: 580px;
        width: 300px;
        object-fit: cover;
    }

    .memo-col img {
        width: 300px;
    }
}

@media screen and (max-width: 560px) {
    .hero-image img {
        width: 150px;
    }

    .hero-h1 {
        font-size: 80px;
    }

    .hero-p {
        width: 276px;
    }
    .hero-p h1 {
        font-size: 20px;
    }

    .about-text-h1 h1 {
        font-size: 50px;
        margin-bottom: 22px;
    }

    .about-text-p {
        width: 90%;
        justify-content: flex-start;
    }

    .rectangle {
        height: 10px;
        width: 200px;
        transform: translateY(-15px);
    }

    .about-wrapper-img img {
        height: 580px;
        width: 200px;
    }
} */
